<div class="ui stackable container top fixed teal inverted menu">
  <div class="container">
    <!--<div class="header item">The Empathy Project</div>-->
    <%= link_to('The Empathy Project', root_path, :class => 'header item') %>
    <%= link_to('New Post', new_post_path, html_options = {:class => 'item'}) %>
    <% if current_user != nil %>
        <%= link_to('Log Out', {:controller => 'sessions', :action => 'destroy'}, html_options = {:class => 'item'}) %>
    <% else %>
        <%= link_to('Login', {:controller => 'sessions', :action => 'new'}, html_options = {:class => 'item'}) %>
    <% end %>
  </div>
</div>

<div class="ui very relaxed divided items very padded container segment">

  <% @posts.each do |post| %>
      <!--<div class="item">-->
      <div class="ui raised very padded text container segment">
        <div class="content">
          <div class="ui header"><%= post.title %></div>
          <h5 class="meta"><%= Post.get_username(post.user_id) %></h5>
          <div class="description">
            <p><%= post.content %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>

