<div class="ui stackable container menu">
  <%= link_to('New Post', new_post_path, html_options = {:class => 'item'}) %>
  <%= link_to('Log Out', {:controller => 'sessions', :action => 'destroy'}, html_options = {:class => 'item'})%>
</div>

<div class="ui middle aligned center aligned stackable grid">

  <div class="ui centered cards">
    <% @posts.each do |post| %>
        <div class="card">
          <div class="content">
            <div class="header"><%= post.title %></div>
            <h5 class="meta"><%= Post.get_username(post.user_id) %></h5>
            <p><%= post.content %></p>
          </div>
        </div>
    <% end %>
  </div>
</div>
